- @can_bulk_update = can?(current_user, :admin_issue, @project)

- page_title "问题"
- new_issue_email = @project.new_issuable_address(current_user, 'issue')

= content_for :meta_tags do
  = auto_discovery_link_tag(:atom, safe_params.merge(rss_url_options).to_h, title: "#{@project.name} issues")

- if project_issues(@project).exists?
  .top-area
    = render 'shared/issuable/nav', type: :issues
    = render "projects/issues/nav_btns"
  = render 'shared/issuable/search_bar', type: :issues

  - if @can_bulk_update
    = render 'shared/issuable/bulk_update_sidebar', type: :issues

  .issues-holder
    = render 'issues'
    - if new_issue_email
      = render 'projects/issuable_by_email', email: new_issue_email, issuable_type: 'issue'
- else
  = render 'shared/empty_states/issues', button_path: new_project_issue_path(@project), show_import_button: true
